<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets<br/>
        <h:form>
            <h:commandButton value="Fill DB" action="#{indexMB.fillDB()}"/><br/>
            <h:commandButton value="clear DB" action="#{indexMB.clearDB()}"/><br/>
            <h:commandButton value="all Publishers" action="publisher"/><br/>
            Pages: <h:inputText value="#{indexMB.pages}"></h:inputText>
            <h:commandButton value="get" action="pagesPub"/><br/>            
        </h:form>
        
        
    </h:body>
</html>

