<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets
        <h:dataTable value="#{publisherMB.publishers}" var="publisher">
            <h:column>
                #{publisher.name}
            </h:column>
            <h:column>
                #{publisher.address}
            </h:column>
            <h:column>
                <h:dataTable value="#{publisher.publications}" var="book">
                    <h:column>#{book.title}</h:column>
                </h:dataTable>
                
            </h:column>
        </h:dataTable>
        <h:form>
            <h:commandButton value="home" action="index"/>
        </h:form>
    </h:body>
</html>

