<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Car</title>
    </h:head>
    <h:body>
        Car<br/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value ="Make : "/>
                <h:inputText value="#{carMB.car.make}" />

                <h:outputText value ="Model : "/>
                <h:inputText value="#{carMB.car.model}" />

                <h:outputText value ="Miles : "/>
                <h:inputText value="#{carMB.car.miles}" />

                <h:outputText value ="Manufacturing Year : "/>
                <h:inputText value="#{carMB.car.year}" />

                <h:outputText value ="Color : "/>
                <h:inputText value="#{carMB.car.color}" />
            </h:panelGrid>
            <h:commandButton value="Back" action="index" />
            <h:commandButton value="Save" action="#{carMB.save()}" />
        </h:form>
    </h:body>
</html>

