<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Car</title>
    </h:head>
    <h:body>
        <h:form>
        Cars count:#{carsMB.carsCount} <br/>
            <h:panelGrid columns="2">
                <h:inputHidden value="#{carsMB.id}" />
                <h:outputText value ="ID : "/> #{carsMB.car.id}
                <h:outputText value ="Make : "/> #{carsMB.car.make}

                <h:outputText value ="Model : "/>#{carsMB.car.model}

                <h:outputText value ="Miles : "/>#{carsMB.car.miles}

                <h:outputText value ="Manufacturing Year : "/>#{carsMB.car.year}

                <h:outputText value ="Color : "/>#{carsMB.car.color}
                
            </h:panelGrid>
            <h:commandButton value="Back" action="index" />
            <h:commandButton value="delete" action="#{carsMB.delete()}" />
        </h:form>
    </h:body>
</html>

