<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Customer</title>
    </h:head>
    <h:body>
        Customer<br/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value ="First name : "/>
                <h:inputText value="#{customerMB.customer.firstName}" />

                <h:outputText value ="Last name : "/>
                <h:inputText value="#{customerMB.customer.lastName}" />

                <h:outputText value ="Age : "/>
                <h:inputText value="#{customerMB.customer.age}" />

            </h:panelGrid>
            <h:commandButton value="Back" action="index" />
            <h:commandButton value="Save" action="#{customerMB.save()}" />
        </h:form>
    </h:body>
</html>

