<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Week 12</title>
    </h:head>
    <h:body>
        Customers
        <h:form>
            <h:commandButton value="Create Customer" action="#{customerMB.create()}"/><br/>
            
            <h:dataTable value="#{customersMB.customers}" var="customerItem">                
                <f:facet name="header">
                    <tr>
                        <td>ID</td>
                        <td>first name</td>
                        <td>last name</td>
                        <td>age</td>
                    </tr>
                </f:facet>
                <h:column>
                    #{customerItem.id}
                </h:column>
                <h:column>
                    #{customerItem.firstName}
                </h:column>
                <h:column>
                    #{customerItem.lastName}
                </h:column>
                <h:column>
                    #{customerItem.age}
                </h:column>
                <h:column>
                    <h:commandButton value="Update" action="#{customerMB.update(customerItem)}" />
                </h:column>
                <h:column>
                    <h:commandButton value="Delete" action="#{customerMB.delete(customerItem)}" />
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

